*{
    font-family: "Roboto", "Shrickhand",sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
/*Mise en page chargement */

.chargement{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(191,182,218,0.95);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disparait 6000ms 3000ms forwards;
  animation-timing-function:ease-out;
  transform-origin: top;
}
.chargeur{
  width: 300px;
  height: 300px;
  border: 0px solid royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cercle{
  border-radius: 50%;
  margin: 0px;
}
.exterieur{
  width: 250px;
  height: 250px;
  border: 20px dotted #9356dc;
  background-color: transparent;
  animation-name: tourne;
  animation-duration: 3000ms;
  animation-direction:normal;
  animation-iteration-count: 1;
  animation-delay: 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interieur{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: shrikhand,cursive;;

}
.milieu{
  width: 150px;
  height: 150px;
  border:10px dashed #ff79da;
  border-radius: 50%;
  animation-name: tourner;
  animation-duration: 3000ms;
  animation-delay: 100ms;
  animation-direction: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes tourne {
  0% {
    transform:rotate(0deg);
  }

  95%{
    transform: rotate(360deg);
  }
  100%{
    opacity: 0%;
  }
}
@keyframes tourner {
  0% {
    transform:scale(1);
  }
  75%{
    transform: scale(1.9);
  }
  95%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes disparait {
  from{
    opacity: 0%;
    transform: scale(1);
  }
  to{
    opacity: 0%;
    transform: scale(0);
  }
}



/* Fin mise en page chargement */
/* Mise en page de l'entÃªte */
.entete-de-page{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.conteneur-logo{
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logotype{
    width: 300px;
}
.localisation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}
.pointe{
    font-size: 1.5rem;
    padding: 0.25rem 1rem 1rem 1rem;
    margin: 1.5rem;
}
.lieu{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}
/* Mise en page des titres */
.titres_entetes{
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}
.titre{
    text-align: center;
}
.titre-section1{
    padding-bottom: 0rem;
}
.titre-secondaire{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.sous-titre{
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
.explorer{
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
    background:linear-gradient(#ff79da,#9356dc);
    border-radius: 60px;
    transition-duration:0.25s ;
    box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,0.25);

}
.explorer:hover{
    background-color:whitesmoke;
    box-shadow:0.30rem 0.30rem 15px rgba(0,0,0,0.7);
}
.fonctionnement{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
h2{
    font-size: 2rem;

}
.choix-restau{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    counter-reset: mon_compteur ; /* initialisation du compteur pour les Ã©lÃ©ments de la liste ordonÃ©e */
}
.titre-section{
    text-align: left;
    padding-left: 1rem;
}
.elt-de-liste{
    /* ici l'element de la liste est mis en forme */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color:whitesmoke;
    text-decoration:none;
    box-shadow: 5px 5px 15px rgba(128, 128, 128,0.5);
    margin-bottom: 2.5rem;
    margin-right: 2rem;
    list-style-type: none; /* on retire le style par dÃ©faut de l'element ol */
    counter-increment: mon_compteur; /*incrÃ©mentation du compteur pour chaque element de liste */
    border-radius: 20px;
    cursor: pointer;
}
.elt-de-liste::before{   /* crÃ©ation du pseudo element ::before afin de gÃ©nÃ©rer les numÃ©ros grÃ¢ce au compteur*/
    display: flex;   /* par dÃ©faut inline, on le passe Ã  flex pour avoir des dimensions Ã  fixer et le centrage facile  */
    justify-content: center;
    align-items: center;
    content: counter(mon_compteur);  /* affichage du numÃ©ro reprÃ©sentÃ© par le nombre contenu dans le compteur */
    width: 40px;
    height: 40px;
    background-color:#9356dc;
    border-radius: 100%;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    margin-left: -20px;
}
.elt-de-liste:hover{
    box-shadow: 10px 10px 10px rgba(128, 128, 128,0.5);
 }
 .choix-restau .elt-de-liste:last-child{
    background-color: rgba(147, 86, 220,0.15);
 }
 .elt-liste{
    width: 90%;
    text-decoration:none;
 }
 .elt-fonctionnement{
    /* une div contenant l'icone et le texte dans un paragraphe */
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.material-icons{
    /* les icones de google, l'iphone et la liste*/

font-size: 1.25rem;
padding-left: 10px;
padding-right:10px;
color: grey;
}
.fonction{
    /* le paragraphe contenant le texte de l'element du fonctionnement */
padding-left: 10px;
padding-right: 10px;
color: black;
font-size: 1.25rem;
font-family: roboto;
font-weight: 500;
}
.fa-store{
    /* l'icone fontawesome du restau */
font-size: 1.25rem;
padding-left: 10px;
padding-right:10px;
color:#9356dc;
}
.restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding-bottom: 5rem;
}

.lien-carte-resto{
   /* display: block;   toujours pour des raisons de dimensions Ã  crÃ©Ã©r*/
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration:none; /*toujours pour enlever le soulignement par dÃ©faut des ancres  <a>*/
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 2rem;
}
.carte-resto{
    width:100%;
    display:flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
    border-radius: 30px;
    box-shadow: 15px 15px 35px rgba(128, 128, 128,0.5);
}
.conteneur-photo-resto{
    width: 100%;
    border-radius: 30px;

}
.image {
    width: 100%; /* pour appliquer object-fit, la width doit Ãªtre dÃ©finie sur l'image*/
    height: 12rem;
    object-fit: cover;
}
.photo-resto{
    max-width:100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.etiquette{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #99e2d0;
    color: green;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-family: roboto;
}
/* DÃ©but mise en forme tablette index.html */
@media screen and (min-width:769px) {
    .explorer{
        max-width: 50%;
        padding: 15px 50px 15px 50px;
        margin: auto;
    }
    .choix-restau{
       flex-flow: row nowrap;
       flex: 1 0 30%;
    }
    .elt-de-liste::before{
        max-width: 2rem;
        max-height: 2rem;
    }
    .titre-sectionR{
        width: 100%;
    }
    .lien-carte-resto{
        width: 50%;
    }
    .restaurants{
        flex-flow: row wrap;

    }
}
/* Fin  mise en forme tablette index.html */
.les-infos-resto{
    display: flex;
    justify-content: space-between;
    margin:0 2rem 0 0;
}
.infos-resto{
    list-style-type: none;
}
.nom-resto{
    font-size: 1.25rem;
    font-weight: 600;
    color: black;
    padding-bottom: 0.5rem;
}
.lieu-resto{
    color: black;
    font-family: roboto;
    font-size: 1.25rem;
    font-weight: 300;
}
/*Mise en page des coeurs avec animation */
.accueil-com{
  /* la div qui contient les coeurs*/
  width: 3rem;
  height: 3rem;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accueil-com::before{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing:antialiased;
  font-variant: normal;
  font-style: normal;
  font-size: 2em;
  color: black;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
  position: absolute;
  opacity: 100%;
}
.accueil-com::after{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing:antialiased;
  font-variant: normal;
  font-style: normal;
  font-size: 2em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  opacity: 0%;
  color: transparent;
  background-image: radial-gradient(#ff79da,#9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  animation-duration: 500ms;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.57,.36,.46,.92);
}
@keyframes irradier {
  to{
    opacity: 100%;
    transform: scale(1.2);
  }

}
.accueil-com:hover::after{
  animation-name: irradier;
}


/* Fin mise en page coeur avec animation */

.pied-de-page{
    width: 100%;
    margin-top: 0rem;
    background-color:#353535;

}
.conteneur-pdp{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo-pdp{
    display: block;
    color: white;
    font-family: 'shrikhand', 'cursive';
    padding-top:1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
}
.liste-pdp{
    list-style: none;
    padding-top:1rem;
    margin: 0;
}
.elt-liste-pdp{
    margin: 0.5rem;
    font-size: 1rem;
}
.elt-liste-pdp:first-child{
    margin-top: 0;
    }
.elt-liste-pdp:last-child{
margin-bottom: 2rem;
}
.lien-pdp{
    color: white;
    text-decoration: none;
}
.lien-pdp:hover{
    text-decoration: underline;
}
.icone-pdp{
    color: white;
    width: 1.2rem;


    }
.titre-pdp{
        font-family: shrikhand;
        padding-top:3rem;
        margin: 3rem;
        color:white;
}
.liste-pied-de-page{
        list-style-type: none;
        line-height: 2em;
    }
/* Mise en page des menus */
.entete_menus{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.fleche{
    font-size: 2rem;
    color: black;
    position: absolute;
    left: 0.5rem;
}
.photo-menu{
    max-width: 100%;
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}
.menus{
    margin-top: -5rem;
    border-radius: 30px;
    background-color:#f6f6f6 ;
    z-index: 1;
    position: relative;
}
.entete-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem 0 1rem;
}
.titre-menu{
    font-family: shrikhand,cursive;
}

.sous-menus{
    display: grid;
}
.sous-menu{
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}
.titre-sous-menu{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;
}
.titre-sous-menu::after{
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom:0;
}
/* DÃ©but RÃ¨gles @keyframes pour le contrÃ´le de l'animation */
@keyframes apparition-elt {
    0% {
        transform: scale(0)
      }
      100% {
        transform: scale(1);
      }

}
/* Fin rÃ¨gle @keyframes pour le contrÃ´le de l'animation */

.eltmenu{
    background-color: white;
    padding:1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    animation:apparition-elt .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}
.entete-eltmenu{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}
.titre-eltmenu{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.detail-eltmenu{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.prix-eltmenu{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}
.elt-menu-cocher{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
}
.eltmenu:hover .elt-menu-cocher{
    margin-right: -1rem;
}
.conteneur-icone{
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.eltmenu:hover .conteneur-icone{
    transform: rotate(0);
}
.icone-eltmenu{
    color: #99e2d0;
}

.delai-0{
    animation-delay: 0s;
}
.delai-1{
    animation-delay: 0.1s;
}
.delai-2{
    animation-delay: 0.2s;
}
.delai-3{
    animation-delay: 0.3s;
}
.delai-4{
    animation-delay: 0.4s;
}
.delai-5{
    animation-delay: 0.5s;
}
.delai-6{
    animation-delay: 0.6s;
}
.delai-7{
    animation-delay: 0.7s;
}
.delai-8{
    animation-delay: 0.8s;
}

.ibaro-bouton{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}
.commandBtn{
    border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  cursor: pointer;
  transition-duration: 0.25s;
  background:linear-gradient(#ff79da,#9356dc);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.commandBtn:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
    text-decoration: none;
    color: inherit;

  }
/*Fin  mise en page des menus */
/* DÃ©but mise en forme tablette les pages des menus */
@media screen and (min-width:769px) {
    .sous-menus{
        display: flex;
        justify-content: space-around;
    }
    .commandBtn{
        padding:1rem 2rem 1rem 2rem;
        font-size: 1.5rem;
    }
}
/* Fin mise en forme tablette les pages menus */
